body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #121212;
    color: #e0e0e0;
}

header {
    background: #1f1f1f;
    color: #e0e0e0;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #e0e0e0;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #333;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}

nav a.active {
    background-color: #555;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #1f1f1f;
    border-radius: 8px;
}

.about-container {
    display: flex;
    justify-content: space-between;
}

.about-left {
    width: 20%;
    text-align: left;
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 8px;
}

.about-left img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.about-left h2, .about-left p {
    margin: 10px 0;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adjust the gap to control spacing */
    margin: 10px 0;
}

.social-media a {
    color: #888; /* Set the icon color to grey */
    text-decoration: none;
    font-size: 2em;
}

.social-media a:hover {
    color: #555;
}

.about-right {
    width: 75%;
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 8px;
}

h1, h2, h3 {
    color: #e0e0e0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.work-item {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #2a2a2a;
    border-radius: 8px;
    position: relative;
}

.work-item h3 {
    margin-top: 0;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the left */
}

.work-item h3 i {
    margin-right: 15px; /* Add space between the icon and the text */
}

.company-logo {
    width: 40px; /* Adjust the size as needed */
    height: 40px; /* Ensure the height matches the width */
    border-radius: 50%; /* Make the image round */
    margin-right: 15px; /* Add some space between the logo and the company name */
}

.work-links {
    display: flex;
    gap: 10px;
    margin-left: 10px; /* Add some space between the company name and the links */
}

.work-links a {
    color: #888;
    font-size: 1.5em;
    text-decoration: none;
}

.work-links a:hover {
    color: #555;
}

.sub-work-item {
    padding: 10px;
    background-color: #333;
    border-radius: 8px;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}

.credential-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2a2a2a; /* Darker tint */
    color: #e0e0e0;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.credential-button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #1f1f1f;
    color: #e0e0e0;
    position: relative;
    bottom: 0;
    width: 100%;
}

#contact form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

#contact input, #contact textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: #e0e0e0;
}

#contact button {
    padding: 10px;
    background: #333;
    color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact button:hover {
    background: #555;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Increase min-width to make boxes bigger */
    gap: 20px;
}

.project-item {
    background-color: #2a2a2a;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.project-item:hover {
    transform: scale(1.05);
}

.project-item img {
    width: 100%;
    height: auto;
    display: block;
}

.project-item h3 {
    margin: 0;
    padding: 10px;
    text-align: center;
    background-color: #333;
    color: #e0e0e0;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySlides {
    display: none;
    text-align: center;
}

.mySlides img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    margin: auto; /* Center the image horizontally */
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.prev {
    left: calc(50% - 220px); /* Position the left arrow next to the image */
}

.next {
    right: calc(50% - 220px); /* Position the right arrow next to the image */
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    nav li {
        margin: 5px 0;
    }

    .about-container {
        flex-direction: column;
        align-items: center;
    }

    .about-left, .about-right {
        width: 100%;
        text-align: center;
    }

    .about-left {
        text-align: left;
    }
}